.page img { margin: 8px; }
.page li img { margin: 0px; }
#dw__toc { margin-top: 72px; margin-right: 12px; }
.btn_secedit { float: right; }
.user, #writtensidebar li .li { padding-left: 9px; }
.page { padding-bottom: 24px; }
.page .level1, .footnotes {  padding-left: 8px; padding-right: 8px; }
.page button { padding: 8px;   margin-bottom: 8px;  }
.toolbutton { padding: unset !important;}
div.menu_starter, .forbread div.breadcrumbs { 
	height: 100%; display: inline-block; border: 0px; 
	background-repeat: repeat !important;
}
.forbread { overflow: hidden; }
.breadcrumbs { display: inline-block; }
div.breadcrumbs { position: relative;  top: -18px; }

.leftcol, .rightcol { min-width:__sidebar_width__; }
.leftcol .dokuwiki a.urlextern, .rightcol .dokuwiki a.urlextern {
	background-image: none;
}

#writtensidebar ul{
margin: 0;
padding: 0px;
list-style-type: none;
border: 0px solid black;
border-bottom-width: 0;
/*width: 185px;*/
font-size: 0.8em;
}


#writtensidebar h1{
border-bottom: 3px solid #C0C0C0;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
font-size: 12.88px;
color: #808080;
font-weight: bold;
}

#writtensidebar li a{
display: block;
padding: 6px 0px;
/*padding-left: 9px;*/
/* width: 169px; */ /*185px minus all left/right paddings and margins*/
text-decoration: none;
color: #000080;
background-color: none;
border-bottom: 0px solid #F1F1F1;
border-left: 0px solid #C0C0C0;
}


#writtensidebar li a:hover {
background-image: url('images/menu-onback.png');
background-color: #F1F1F1;
border-left-color: #484848;
color: #0066cc;
}

.page h1{ width: 100%; min-height: 53px; 
font-weight: normal;

	background-image: url('images/contentheaderback-left.jpg'), url('images/contentheaderback-loop.png');
	background-position: left, middle;
	background-repeat: repeat-y, repeat;

color: #808080; font-size: 32px; 
padding-left: 1em; padding-top: 0.15em;
line-height: normal !important;

}


/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 25%; }

/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    max-width: 14em;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    width: unset;
    /*width: max-content;*/
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}

/* ------ */